In [2]:
# import libraries
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [3]:
#!pip install vaderSentiment

In [4]:
pract=pd.read_csv('trial.csv')

In [5]:
pract.drop(labels=2, axis=0,inplace=True)

In [6]:
pract

   Id   item  Price
0   1  Phone   2154
1   2  chair     87
3   4    bed    200
4   5   book      4

# Load

In [7]:
# load the data
train=pd.read_csv('train.csv', encoding='unicode_escape')

In [8]:
train.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [9]:
train.shape

(27481, 4)

In [10]:
train

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [11]:
train.isna().sum()

textID           0
text             1
selected_text    1
sentiment        0
dtype: int64

In [12]:
train.dropna(inplace=True)

In [13]:
train.isna().sum()

textID           0
text             0
selected_text    0
sentiment        0
dtype: int64

In [14]:
train.info()
train.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27480 entries, 0 to 27480
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         27480 non-null  object
 1   text           27480 non-null  object
 2   selected_text  27480 non-null  object
 3   sentiment      27480 non-null  object
dtypes: object(4)
memory usage: 1.0+ MB

(27480, 4)

In [15]:
train.reset_index(drop=True, inplace=True)

In [113]:
train.head(10)

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
5,28b57f3990,http://www.dothebouncy.com/smf - some shameles...,http://www.dothebouncy.com/smf - some shameles...,neutral
6,6e0c6d75b1,2am feedings for the baby are fun when he is a...,fun,positive
7,50e14c0bb8,Soooo high,Soooo high,neutral
8,e050245fbd,Both of you,Both of you,neutral
9,fc2cbefa9d,Journey!? Wow... u just became cooler. hehe....,Wow... u just became cooler.,positive

In [17]:
# Load the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

# Analyze the sentiment of a text string
comment = "He was beautifully ugly"
sentiment = analyzer.polarity_scores(comment)

# Print the sentiment scores
print("Sentiment:", sentiment)

# Calculate the overall sentiment of the text
compound = sentiment["compound"]
if compound > 0.5:
    print("Sentiment: Positive")
elif compound < -0.5:
    print("Sentiment: Negative")
else:
    print("Sentiment: Neutral")

Sentiment: {'neg': 0.367, 'neu': 0.222, 'pos': 0.411, 'compound': 0.1027}
Sentiment: Neutral

In [114]:
comment=train['text'][0:9]
print(comment)

0                  I`d have responded, if I were going
1        Sooo SAD I will miss you here in San Diego!!!
2                            my boss is bullying me...
3                       what interview! leave me alone
4     Sons of ****, why couldn`t they put them on t...
5    http://www.dothebouncy.com/smf - some shameles...
6    2am feedings for the baby are fun when he is a...
7                                           Soooo high
8                                          Both of you
Name: text, dtype: object

In [115]:
sentiment = analyzer.polarity_scores(comment)
sentiment

{'neg': 0.188, 'neu': 0.688, 'pos': 0.124, 'compound': -0.5425}

In [108]:
# Print the sentiment scores
print("Sentiment:", sentiment)

# Calculate the overall sentiment of the text
compound = sentiment["compound"]
if compound > 0.5:
    print("Sentiment: Positive")
elif compound < -0.5:
    print("Sentiment: Negative")
else:
    print("Sentiment: Neutral")

Sentiment: {'neg': 0.197, 'neu': 0.673, 'pos': 0.13, 'compound': -0.5425}
Sentiment: Negative

In [28]:
train.iloc[314]

textID                                                  ddd4dd7be4
text             It looks like the office TV DOES get MLB Netwo...
selected_text    It looks like the office TV DOES get MLB Netwo...
sentiment                                                  neutral
Name: 314, dtype: object

In [79]:

def sentimentClass(data):
    global result
    result={}
    
    # Load the VADER sentiment analyzer
    analyzer = SentimentIntensityAnalyzer()
    for i in range(data.shape[0]):
        
        

        # Analyze the sentiment of a text string
        comment=data['text'][i:]
        sentiment = analyzer.polarity_scores(comment)

        # Print the sentiment scores
        # print("Sentiment:", sentiment)

        # Calculate the overall sentiment of the text
        compound = sentiment["compound"]
        if compound > 0.5:
            result[i]=1
        elif compound < -0.5:
            result[i]=-1
        else:
            result[i]=0

In [80]:
data=train.iloc[10:20]
print(data)

sentimentClass(data)
result

        textID                                               text  \
10  2339a9b08b   as much as i love to be hopeful, i reckon the...
11  16fab9f95b  I really really like the song Love Story by Ta...
12  74a76f6e0a       My Sharpie is running DANGERously low on ink
13  04dd1d2e34  i want to go to music tonight but i lost my vo...
14  bbe3cbf620                         test test from the LG enV2
15  8a939bfb59                              Uh oh, I am sunburned
16  3440297f8b   S`ok, trying to plot alternatives as we speak...
17  919fa93391  i`ve been sick for the past few days  and thus...
18  af3fed7fc3         is back home now      gonna miss every one
19  40e7becabf                         Hes just not that into you

                                        selected_text sentiment
10  as much as i love to be hopeful, i reckon the ...   neutral
11                                               like  positive
12                                        DANGERously  negative
13                                               lost  negative
14                         test test from the LG enV2   neutral
15                              Uh oh, I am sunburned  negative
16                                             *sigh*  negative
17                                               sick  negative
18                                               onna  negative
19                         Hes just not that into you   neutral

{0: 0, 1: -1, 2: -1, 3: -1, 4: -1, 5: -1, 6: -1, 7: -1, 8: 0, 9: 0}

In [89]:
#sentimentClass(train)

In [51]:
# test
test=pd.read_csv('test.csv')
test

          textID                                               text sentiment
0     f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1     96d74cb729   Shanghai is also really exciting (precisely -...  positive
2     eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3     01082688c6                                        happy bday!  positive
4     33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive
...          ...                                                ...       ...
3529  e5f0e6ef4b  its at 3 am, im very tired but i can`t sleep  ...  negative
3530  416863ce47  All alone in this old house again.  Thanks for...  positive
3531  6332da480c   I know what you mean. My little dog is sinkin...  negative
3532  df1baec676  _sutra what is your next youtube video gonna b...  positive
3533  469e15c5a8   http://twitpic.com/4woj2 - omgssh  ang cute n...  positive

[3534 rows x 3 columns]

In [48]:
# Submission
submission=pd.read_csv('sample_submission.csv')

In [49]:
submission

          textID  selected_text
0     f87dea47db            NaN
1     96d74cb729            NaN
2     eee518ae67            NaN
3     01082688c6            NaN
4     33987a8ee5            NaN
...          ...            ...
3529  e5f0e6ef4b            NaN
3530  416863ce47            NaN
3531  6332da480c            NaN
3532  df1baec676            NaN
3533  469e15c5a8            NaN

[3534 rows x 2 columns]