In [61]:
# import libraries
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [153]:
#!pip install vaderSentiment

In [157]:
pract=pd.read_csv('trial.csv')

In [160]:
pract.drop(labels=2, axis=0,inplace=True)

In [ ]:
pract.drop()

# Load

In [63]:
# load the data
train=pd.read_csv('train.csv', encoding='unicode_escape')

In [64]:
train.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [96]:
train.shape

(27480, 4)

In [102]:
train

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [66]:
train.isna().sum()

textID           0
text             1
selected_text    1
sentiment        0
dtype: int64

In [67]:
train.dropna(inplace=True)

In [75]:
train.isna().sum()

textID           0
text             0
selected_text    0
sentiment        0
dtype: int64

In [100]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27480 entries, 0 to 27480
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         27480 non-null  object
 1   text           27480 non-null  object
 2   selected_text  27480 non-null  object
 3   sentiment      27480 non-null  object
dtypes: object(4)
memory usage: 2.1+ MB

In [107]:
train.reset_index(drop=True, inplace=True)

In [109]:
train

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27475,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27476,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27477,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27478,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27479,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [110]:
# Load the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

# Analyze the sentiment of a text string
comment = "I love this movie!"
sentiment = analyzer.polarity_scores(comment)

# Print the sentiment scores
print("Sentiment:", sentiment)

# Calculate the overall sentiment of the text
compound = sentiment["compound"]
if compound > 0.5:
    print("Sentiment: Positive")
elif compound < -0.5:
    print("Sentiment: Negative")
else:
    print("Sentiment: Neutral")

Sentiment: {'neg': 0.0, 'neu': 0.4, 'pos': 0.6, 'compound': 0.6696}
Sentiment: Positive

In [111]:
comment=train['text'][1]

In [112]:
sentiment = analyzer.polarity_scores(comment)

In [113]:
# Print the sentiment scores
print("Sentiment:", sentiment)

# Calculate the overall sentiment of the text
compound = sentiment["compound"]
if compound > 0.5:
    print("Sentiment: Positive")
elif compound < -0.5:
    print("Sentiment: Negative")
else:
    print("Sentiment: Neutral")

Sentiment: {'neg': 0.441, 'neu': 0.559, 'pos': 0.0, 'compound': -0.7437}
Sentiment: Negative

In [114]:
train.iloc[314]

textID                                                  ddd4dd7be4
text             It looks like the office TV DOES get MLB Netwo...
selected_text    It looks like the office TV DOES get MLB Netwo...
sentiment                                                  neutral
Name: 314, dtype: object

In [152]:
data=train.iloc[0:5]
data
sentimentClass(data)
len(result)

27480

In [150]:

def sentimentClass(data):
    result={}
    # Load the VADER sentiment analyzer
    analyzer = SentimentIntensityAnalyzer()
    for i in range(data.shape[0]):
        
        

        # Analyze the sentiment of a text string
        comment=data['text'][i]
        # sentiment = analyzer.polarity_scores(comment)

        # Print the sentiment scores
        # print("Sentiment:", sentiment)

        # Calculate the overall sentiment of the text
        compound = sentiment["compound"]
        if compound > 0.5:
            result[i]=1
        elif compound < -0.5:
            result[i]=-1
        else:
            result[i]=0

In [149]:
#sentimentClass(train)

In [51]:
# test
test=pd.read_csv('test.csv')
test

          textID                                               text sentiment
0     f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1     96d74cb729   Shanghai is also really exciting (precisely -...  positive
2     eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3     01082688c6                                        happy bday!  positive
4     33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive
...          ...                                                ...       ...
3529  e5f0e6ef4b  its at 3 am, im very tired but i can`t sleep  ...  negative
3530  416863ce47  All alone in this old house again.  Thanks for...  positive
3531  6332da480c   I know what you mean. My little dog is sinkin...  negative
3532  df1baec676  _sutra what is your next youtube video gonna b...  positive
3533  469e15c5a8   http://twitpic.com/4woj2 - omgssh  ang cute n...  positive

[3534 rows x 3 columns]

In [48]:
# Submission
submission=pd.read_csv('sample_submission.csv')

In [49]:
submission

          textID  selected_text
0     f87dea47db            NaN
1     96d74cb729            NaN
2     eee518ae67            NaN
3     01082688c6            NaN
4     33987a8ee5            NaN
...          ...            ...
3529  e5f0e6ef4b            NaN
3530  416863ce47            NaN
3531  6332da480c            NaN
3532  df1baec676            NaN
3533  469e15c5a8            NaN

[3534 rows x 2 columns]